.App {
  text-align: center;
  background-color: antiquewhite;
  position: relative;
  top: 0px;
  width: 1200px;
}

body {
  border: orange solid 2pt;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  justify-content: center;
}

#canvas3 {
  /* width: 360px; */
  /* border: yellow solid 10pt; */
  position: relative;
  z-index: 1;
}

#video {
  /* border: orange solid 1pt; */
  position: absolute;
  z-index: 0;
}

#videoContainer {
  /* border: white solid 5pt; */
}

#canvas2 {
  width: 360px;
  border: forestgreen solid 1pt;
  align-self: center;
  border-radius: 50%;
}

.emotions {
  display: inline-block;
}
